<%- include('../partials/header') %>
    <h3><%= skill.skill %></h3>
    <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>  
    <a href="/skills/<%= skill.skill %>/edit">Edit this skill</a>
    <form action="/skills/<%= skill.skill %>?_method=DELETE" method="POST">
        <button type="submit">Delete Skill</button>
    </form> 
    <a href="/skills">Back to List</a>
</body>
</html>